

<div class="page-header-inner" ng-controller="headerController">

<div class = "row"> 
<div class="col-md-3 col-sm-6 col-xs-7">
<div ><img class="mylogo" alt="" src="img/ls_logo.png"></div>
</div>
<div class="col-md-2 pull-right profileMenu" >
  <div class="btn-group" dropdown>
            <button type="button"
                    class="btn  dropdown-toggle"
                    dropdown-toggle>
                {{loginUser.userName}} <span class="caret"></span>
            </button>
            
            <ul class="dropdown-menu" role="menu">
            <li>
                    <a href="">Themes</a>
                </li>
             <li class="divider"></li>
                <li>
                    <a href="" ng-click="mainTheme()">Main Theme</a>
                </li>
                <li>
                    <a href="" ng-click="greenTheme()">Green Theme</a>
                </li>  
                 <li>
                    <a href="" ng-click="lgreenTheme()">Lgreen Theme</a>
                </li>  
                <li>
                
                    <a href="" ng-click="redTheme()">Red Theme</a>
                </li>
                 <li>
                    <a href="" ng-click="blueTheme()">Blue Theme</a>
                </li> 
                
            </ul>
        </div>
</div>


</div>

</div>
