<div ng-controller="sidebarController">
<ul>
<li>
      <a href="#/dashboard">
        <i class="icon-check"></i> Dash Board</span>
        </a>
 </li>
 
 <li>
      <a href="#/dailyView">
        <i class="fa fa-users" aria-hidden="true"></i> My Daily View</span>
        </a>
 </li> 
 
<li>
      <a href="#/add/0">
        <i class="fa fa-users" aria-hidden="true"></i> Add Customer</span>
        </a>
 </li> 
 
<li>
      <a href="#/view">
        <i class="fa fa-users" aria-hidden="true"></i> view Customer</span>
        </a>
 </li>  
 </ul>
</div>