<div ng-controller = "changePasswordController" ng-init = "onload()">

<form novalidate="" ng-submit=""  name="pass-form" class="pass-form"> 
					<div class="row">
						<div class="col-md-12">
					<div class="header">
							<h1>Change Password</h1>
						</div>
					
					<div class="content">
					 
						<input  ng-model="pass.password" type="password" class="input password"
								placeholder="Current Password" required="" />
						<input  ng-model="pass.newPassword" type="password" class="input password"
								placeholder="New Password" required="" />
						<input  ng-model="pass.confirmPassword" type="password" class="input password"
								placeholder="Confirm Password" required="" />
					 
					</div>
					 
					<div class="footer">
					<div class="row">
							<button ng-click="changePass(pass)" class="button">Change</button>
							</div>
					<div class="row" ng-show="errorMsg">
					<div style="color: red; text-align: center;">
					{{errMsg}}
					</div>
					</div>
					
					<div class="row" ng-show="successMsg">
					<div style="color: green; text-align: center;">
					{{successmsg}}
					</div>
					</div>
						</div>
	</div>
	</div>
	</form>
 </div>