<div ng-controller = "changePasswordController" ng-init = "onload()">

<div class="headertags">Change Password</div>
<br><br>
<form novalidate="" ng-submit=""  > 
					<div class="row">
						<div class="col-md-12">
				 		
				 		
				 		<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-6">
					  <div class="form-group">
                		<label class="control-label">Current Password</label>
						<input  ng-model="pass.password" type="password" class="form-control"
								placeholder="Current Password" required="" /></div>
							</div>	
						<div class="col-md-3"></div></div>		
								
								
							<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-6">
					  <div class="form-group">
                		<label class="control-label">New Password</label>
						<input  ng-model="pass.newPassword" type="password" class="form-control"
								placeholder="New Password" required="" />
								</div>
							</div>	
						<div class="col-md-3"></div></div>		
								
								<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-6">
					  <div class="form-group">
                		<label class="control-label">Confirm Password</label>
						<input  ng-model="pass.confirmPassword" type="password" class="form-control"
								placeholder="Confirm Password" required="" />
					 </div>
							</div>	
						<div class="col-md-3"></div></div>	
					 
					 <br>
					<div class="row">
							<button ng-click="changePass(pass)" class="tags1">Change</button>
							</div>
					<div class="row" ng-show="errorMsg">
					<div style="color: red; text-align: center;">
					{{errMsg}}
					</div>
					</div>
					
					<div class="row" ng-show="successMsg">
					<div style="color: green; text-align: center;">
					{{successmsg}}
					</div>
					</div>
	</div>
	</div>
	</form>
 </div>