<div ng-controller = "dashboardController" ng-init= "onload()">

<div class="headertags">Dash Board</div>
<br><br>

<form novalidate="" ng-submit=""  > 
					 
						
							 <div class="row">
							  <div class="col-md-3"> 
							  </div>
								 <div class="col-md-6"> 
								 
								 <div class="form-group">
                <label>Add Some Description :</label> 
                <textarea  type="text" style="height:107px; resize :none;"  class="form-control" placeholder="Description" ng-model = "info.discription" required="" ></textarea>
              </div> 
								 <!-- <div>
						 				<textarea  ng-model="info.discription" type="text" class="input password" rows="3" style="resize :none"
										placeholder="Discription" required="" ></textarea>
								</div> -->
							</div>
							 <div class="col-md-3"> 
							 </div>
					</div> 
					<br>
							<div class="row" >
							 <div class="col-md-6"> 
							 </div>
							 <div class="col-md-6"> 
							 <div class="col-md-3">
							 </div>
							 <div class="col-md-3"> 
							<button ng-click="saveInfo(info)" class="tags1">Save</button>
							</div>
							<!-- <div class="col-md-3"> 
							<button ng-click="DeleteInfo(info)" class="tags1">Delete</button>
							</div> -->
							 
							</div>
							</div>
					 

</form>

<br>
<div class="row tablerow show1" >
		<div class="col-md-3">
     <label class="label_bold_18">Name</label>
		</div>
		<div class="col-md-6">
     <label class="label_bold_18">Description</label>
		</div>
		<div class="col-md-3">
     <label class="label_bold_18">Actions</label>
		</div>
	</div>
<div class="row show1" ng-repeat="obj in customerObj | filter:{customerId:search.customerId,name:search.name}"
		
		ng-class-odd="'odd'" ng-class-even="'even'">
		<div class="col-md-3" >
			<label class="lable16">{{obj.createdBy}}</label>
		</div>
		<div class="col-md-6" >
			<label class="lable16">{{obj.discription}}</label>
		</div>
		<div class="col-md-3" >
			<label class="lable16">{{obj.updatedOn !=null ? obj.updatedOn :obj.createdOn}} 
			<a  flex-gt-md="auto" ng-click="editInfo(obj)"><i class="fa fa-edit" style="font-size:12px;"></i></a>
			<a  flex-gt-md="auto" ng-click = "DeleteInfo(obj)"><i class="fa fa-trash-o" style="font-size:12px;"></i></a></label>
		</div>
	
	</div>
	
	
	<div class="row show2">
	
	 <div  class="row show2" ng-repeat="obj in customerObj | filter:{customerId:search.customerId,name:search.name}"
    ng-class-odd="'even1'" ng-class-even="'odd1'">
    <div class="col-xs-12">
    <div class="row col-xs-12 topbtmspace">
     <div class="col-xs-6 "><label >Name :</label></div>
     <div class="col-xs-6  "><label >{{obj.createdBy}}</label></div>
    </div>
        <div class="row col-xs-12 topbtmspace">
     <div class="col-xs-6  "><label >Description :</label></div>
     <div class="col-xs-6"><label >{{obj.discription}}</label></div>
    </div>
     <div class="row col-xs-12 topbtmspace">
     <div class="col-xs-6  "><label >Actions :</label></div>
     <div class="col-xs-6"><label >{{obj.updatedOn !=null ? obj.updatedOn :obj.createdOn}}
     <a  flex-gt-md="auto" ng-click="editInfo(obj)"><i class="fa fa-edit" style="font-size:12px;"></i></a>
			<a  flex-gt-md="auto" ng-click = "DeleteInfo(obj)"><i class="fa fa-trash-o" style="font-size:12px;"></i></a></label></div>
    </div>
    </div>
   </div>
	</div>
	
</div>