<div ng-controller = "userProfileController" ng-init="onload()">

<div class="headertags">Edit Profile</div>
<br><br>
            
				 
					<form novalidate="" ng-submit=""> 
					<div class="row">
						<div class="col-md-12">
				 
					 <div class="row">
					 <div class="col-md-6">
					 <div class="form-group">
                <label class="control-label">First Name</label>
						 <input  ng-model="user.firstName" type="text" class="form-control"
								placeholder="Firstname" required="" />
					</div></div>
					<div class="col-md-6"> 
					
					<div class="form-group">
                <label class="control-label">Last Name</label>
						 <input  ng-model="user.lastName" type="text" class="form-control"
								placeholder="Lastname" required="" />
					</div></div>
					</div> 
					<div class="row">
					 <div class="col-md-6">
					 <div class="form-group">
                <label class="control-label">User Name</label>
						<input  ng-model="user.userName" type="text" class="form-control"
								placeholder="Username" required="" />
					</div></div>
					 <div class="col-md-6">
					 <div class="form-group">
                <label class="control-label">Address</label>
						<input  ng-model="user.address" type="text" class="form-control"
								placeholder="Address" required="" />
					</div>
					</div>
					<div class="row">
					 <div class="col-md-6">
					 <div class="form-group">
                <label class="control-label">Email</label>
						<input  ng-model="user.email" type="email" class="form-control"
								placeholder="Email" required="" />
					</div></div>
					 <div class="col-md-6">
					 <div class="form-group">
                <label class="control-label">Phone Number</label>
						<input  ng-model="user.phoneNumber" type="text" class="form-control"
								placeholder="Phone Number" required="" />
					</div></div>
					</div>
					<!-- <div class="row">
					 <div class="col-md-6">
						<input  ng-model="user.password" type="password" class="input password"
								placeholder="Password" required="" />
						</div>
					 <div class="col-md-6">
						<input  ng-model="user.confirmPassword" type="password" class="input password"
								placeholder="Confirm Password" required="" />
						</div>		
						</div> -->
						<br>
							<button ng-click="updateUser(user)" class="tags1">Update</button>
							<div ng-if="successFlag">
								<div style="color: green">{{updated}}</div>
							</div>
					 
						</div>
						</div>
					</form>
			 
</div>